// 640px

.Product {
    @apply p-5 bg-white rounded flex flex-col gap-4;

    @media (max-width: 640px) {
        flex-direction: row;
    }

    &__title {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* количество строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        //styleName: Desktop/Subtitle;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0px;
    }

    &__ingridients {
        flex-grow: 1;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* количество строк */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
    }

    &__Media {
        @media (max-width: 640px) {
            width: 100px;
            height: 100px;
            flex-shrink: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;

        @media (max-width: 640px) {
            flex-grow: 1;
        }
    }
}

.actions {
    @apply flex flex-wrap justify-between items-center;

    &__price {
        @apply text-orange-500 font-semibold text-lg;
        @media (max-width: 640px) {
            @apply bg-orange-100 rounded;
            padding: 7px 16px;
        }
    }

    &__buy {
        @apply bg-orange-500 hover:bg-orange-400 transition-all text-white px-[32px] rounded py-[13px];

        @media (max-width: 640px) {
            display: none;
        }
    }
}